<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%n%X{traceId:-} %X{spanId:-} [%d{yyyy-mm-dd HH:mm:ss}] %-5level %c{1} - %msg"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Dubbo 包日志级别设置为 DEBUG -->
        <Logger name="org.apache.dubbo" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- 根日志级别（默认 INFO） -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
